@font-face{
    font-family:'apercu';
    src: './fonts/Apercu-Light.woff'
}

body{
  background:  #1A1A1A;
}

.main-view{
  color: white;
  margin-top: 5%;
  font-family: 'apercu';
  font-weight: bold;
  font-size: 100%;

}
#icon-back{
  float:left;
  color: #FFB900;
}
#title-up{
  float: right;
  font-size: 120%;
}
.stats{
  margin-top: 40%;
}
.title-stats{
  margin-left: 40%;
}
.img-stats {
  float: left;
}
.img-stats img{
  width: 100px;
  height: 100px;
}
.activity{
  margin-top: 25%;
}
.title-activity{
  margin-right: 40%;
}
.img-activity{
  float: right;
}
.img-activity img{
  width: 100px;
  height: 100px;
}
.bottom{
  margin-top: 15%;
  float: right;
}
hr{
  margin-top: 52%;
width: 50%;
color:#EAEAEA;
}

.stats-view{
  color:#EAEAEA;
  margin-top: 5%;
  font-family: 'apercu';
  font-weight: bold;
  font-size: 100%;
  display: none;
}

.loadingImage{
  width:70%;
  margin:0 auto;
  margin-left:100px;
}

.header{
  color:black !important;
  font-size:40px;
  text-align:center;
}

.button{
  background-color:#DE8D47;
  border-radius:25px;
  color:white;
  text-align:center;
  width:350px;
  margin: 0 auto;
  margin-top:50px;
  font-size:50px;
  margin-bottom:50px;
}
#startSesion{
  background-color: #EAEAEA;
}

.kmRecorridos{
  color:#3182FF;
  font-size:20px;
  text-align: center;
}

.caloriasQuemadas{
  color:#FFB900;
  font-size:20px;
  text-align: center;
}

.startSesion{}

#runningInterface{
  background-color: #EAEAEA;
  margin-top:30px;
}

.title{
  font-color:black;
  font-size:40px;
  text-align:center;
  margin-top:15px;
  margin-bottom:15px;
}

.leftFoot.true {
  width:100px;
  height:250px;
  background: url("../image/pie_izqd_verde.png");
  background-size: 100%;
}
.leftFoot.false{
  width:100px;
  height:250px;
  background:url("../image/pie_izqd_rojo.png");
  background-size:100%
}
.rightFoot.true{
  width:100px;
  height:250px;
  background:url("../image/pie_verde.png");
  background-size:100%
}
.rightFoot.false{
  width:100px;
  height:250px;
  background:url("../image/pie_rojo_derecho.png");
  background-size:100%
}
